@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to DC-OSS Ratecard</h1>
    <p class="lead">This website helps you configure deals.</p>
    <p>@Html.ActionLink("Deals", "Deal", "Deal")</p>
</div>

