<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add connectionString="server=hc4w01033.itcs.hpecorp.net,2048;database=PDT_DEV;uid=rcsa;pwd=Bat.Fart231[@-]" name="RC_DB_CONN"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
